
/*
 *  Description 
 */
header section {
  display: flex;
  padding: 3rem 0;
}

header section .description {
  flex: 1 1 0;
  color: #040402;
}

header section .description h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: .8rem;
  margin-top: 1.6rem;
}

header section .description p {
  font-size: 1.9rem;
  line-height: 1.5;
  margin: 1.6rem 0 0 0;
}

/* Links */
header section .description ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

header section .description li {
  color: #999;
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
}

header section .description li + li {
  margin-left: 1.6rem;
}

header section .description li a {
  font-size: inherit;
  color: inherit;
  line-height: 1.4;
  position: relative;
  transition: color .2s ease-in-out;
}

header section .description li .name > u {
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

header section .description li .name::before {
  content: ' (';
}
header section .description li .name::after {
  content: ') ';
}

header section .description li a:hover,
header section .description li a:focus {
  color: #0f55eb;
}


/*
 *  Install instructions 
 */
header section .install-instructions {
  display: flex;
  flex: 0 0 auto;

  /*background: #f7f6f3;*/
  border: 1px solid rgba(55, 53, 47, .08);
  border-radius: 3px;
  overflow: hidden;

  /*background: rgba(132, 120, 98, 0.06);*/
  color: white;
  border: 2px solid rgba(55, 53, 47, .08);
  border-radius: 6px;
}

header .install-instructions p {
  flex: 1 0 0;
  margin: 0;
  color: #999;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
}

header .install-instructions p:hover {
  color: #37352f;
}

header .install-instructions p::before {
  content: '$ ';
  color: #ddd;
}

.divider {
  height: 1px;
  margin: .3rem 0;
  background: rgba(55, 53, 47, .08);
  text-align: center;
  position: relative;
}

.divider::after {
  position: absolute;
  color: rgba(55, 53, 47, .16);
  background: #fffefc;
  content: 'OR';
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 .4rem;
}




/*
 * Tree table controls
 */
.controls {
  margin: 3rem 0 1.6rem 0;
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  color: #040402;
}

.controls .control-section {
  flex: 1 0 0;
}

.controls .control-section:last-child {
  flex: 0 0 auto;
}

.controls .control-section .node-count {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
}

.controls .control-section > button {
  appearance: none;
  background: rgba(242, 241, 238, 1);
  border: none;
  border-radius: 3px;
  margin-right: 1.2rem;

  color: #37352f;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  padding: .4rem 1rem;
}

.controls .control-section > button:last-child {
  margin-right: 0;
}

.controls .control-section > button:hover {
  color: #0f55eb;
}